@page
@{
    Layout = "_Layout";
    ViewData["Title"] = "Webix Filemanager demo";
}
<style>
    body {
        font-family: Consolas, Tahoma, Arial;
        font-size: 16px;
        padding: 20px;
    }
    li {
        margin-bottom: 10px;
    }
    a {
        color: #44e;
        text-decoration: none;
    }
</style>

<h2>Demos</h2>

<h3>File Manager</h3>
<ul>
    <li><a href="./FileManager">Default mode</a></li>
    <li><a href="./DynamicFiles">Loading file info dynamically</a></li>
    <li><a href="./DynamicFolders">Loading sub-folders dynamically</a></li>
</ul>


<h3>Spreadsheet</h3>
<ul>
    <li><a href="./Spreadsheet">Default mode</a></li>
</ul>



<h3>Kanban</h3>
<ul>
    <li><a href="./Kanban">Default mode</a></li>
</ul>



<h3>Scheduler</h3>
<ul>
    <li><a href="./Scheduler">Default mode</a></li>
</ul>



<h3>Webix Core</h3>
<ul>
    <li><a href="./WebixGrid">Editable Grid</a></li>
    <li><a href="./WebixForm">List and Form</a></li>
    <li><a href="./WebixGridDynamic">Grid with dynamic loading</a></li>
    <li><a href="./WebixUploader">File uploading</a></li>
</ul>
